<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Получение текста из PDF</title>
</head>
<body>
<label>Для отправки файла на распознование текста нажмите "Обзор..." -> Выберете файл -> Нажмите "Распознать".</label></br>
<label>В зависимости от размера файла распознание может занять несколько минут.</label></br>
<label>В результате будет возвращен файл в формате excel, который сожно будет скачать.</label></br>
<form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Распознать"></p>
    </form>
</body>
</html>